*{
	/*font-family: 'Bebas Neue', cursive;*/
	font-family: 'Montserrat', sans-serif;


}

#particles-js {
	background-color: #080819;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: -1;
}

#princ {
	position: relative;
	z-index: 2;
}


.title{
	position: relative;
	margin-left: 20vw;
	z-index: 2;

}
.title__text {
	padding-top: 10vh;
}

.title__text div {
	position: relative;
	height: 27vh;
	width: 30vw;
	line-height: 1.2em;
	color: white;
	font-size: 200px;
	text-align: left;
	transition: all 1s;
}

.title a:link{
	text-decoration: none;
}

.title__text div:hover{
	font-size: 210px;
	text-shadow: 0 0 15px white;
	opacity: 1.0;
	transition: all 0.7s, text-shadow 0.1s;
	cursor: pointer;
}

.ramiro__text::before{
	content: "Ramiro";
	color: #36B061;
	text-decoration: none;
	
}
.ramiro__text:hover::before{
	content: "contact";
}
 
#ramiro:hover{
	text-shadow: 0 0 15px #43D476;
}


.hola__text::before{
	content: "hello,";
	color: white;
	text-decoration: none;
	
}
.hola__text:hover::before{
	content: "about";
}

.soy__text::before{
	content: "i'm";
	color: white;
	text-decoration: none;
	
}
.soy__text:hover::before{
	content: "works";
}


